.task {
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: auto;
  border-radius: 10px; 
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s, height 0.2s;
}

.task.dragging {
  opacity: 0;
  visibility:visible;
  
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  padding-bottom: 6px;
}

.task-header h3 {
  font-weight: 300;
  font-size: 1.1em;
  margin: 0;
}

.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}

.task-details p,
.task-details span {
  margin: 0;
}

.task p {
  margin-right: 10px;
}

.TaskType{
  display: block;
  font-size: 0.8em;
  color: #666;
  padding: 5px;
  border-radius: 15px;
  font-weight: 500;
  background-color: #f5f5f5;
  margin: 2%;
  margin-bottom: 10px;
}

.user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tomorrow {
  color: #659eed; 
}

.yesterday {
  color: red;
}

.task button {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  color: #c1c4cd;
}

.task button:hover {
  background-color: #f5f5f5;
}

.task-options {
  position: relative;
  height: 40%;
}

.options-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1;
  border-radius : 5px;
}